body                        { background: #fff url(../images/background.png) repeat-x top left; 
                                font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 14px;
                                text-decoration: none; color: #000000; }
a                           { text-decoration: none; color: #e33100; }
a:hover                     { text-decoration: underline; color: #872300;}
.container                  { background: #fff; color: #000; padding: 10px;
                                -moz-border-radius: 10px; -webkit-border-radius: 10px;
                                -moz-box-shadow: 3px 3px 5px #333; -webkit-box-shadow: 3px 3px 5px #555;}                        
.header                     {  }
.main_body                  { min-height: 600px; }
.headline                   { font-size: 1.5em; }


.footer                     { text-align: center; margin-top: 15px;}
#nav                        { float: right; font-size: 20px; color: #e33100;}
#nav a, .condition          { color: #e33100; cursor: pointer;}
#nav a:hover,
.condition:hover             { color: #872300;}
.speaker                     { font-weight: bold; color: #ff0000;}
.profile_picture             { width: 50px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.issues                      { width: 300px; float: left;}
tr.rowerror td             { background:#FBE3E4; color: #8A1F11;}

#dark                       { background-color: rgb(0, 0, 0); opacity: 0.7; /* Safari, Opera */ -moz-opacity:0.70; /* FireFox */
                                filter: alpha(opacity=70); /* IE */ z-index: 20; height: 100%; width: 100%;
                                background-repeat:repeat; position:fixed; top: 0px; left: 0px; display: none;}
.loading                     { width: 500px; height: 320px; padding: 10px;
                                -moz-box-shadow: 5px 5px 7px #222; -webkit-box-shadow: 5px 5px 7px #222; position: absolute;
                                border: 10px solid #333; background: #fff; display: none; z-index: 1000;}
.loader                     { clear: both; position: relative; width: 32px; height: 32px;}
#diagram                    { clear: both; position: relative; width: 219px; margin-left: 140px;}
.condition, 
.current                    { font-size: 18px;}
.q, .q2                     { cursor: pointer; }
.action                     { color: #e33100; text-decoration: underline;}
#view_message_history       { cursor: pointer; }
#view_message_history:hover {  }
#hide_message_history       { float: right; cursor: pointer; color: #e33100;}
#hide_message_history:hover { text-decoration: underline; color: #;}
#message_history            {  width: 950px; height: 500px; padding: 10px;
                                -moz-border-radius: 15px; -webkit-border-radiu: 15px;
                                -moz-box-shadow: 5px 5px 7px #222; -webkit-box-shadow: 5px 5px 7px #222; position: absolute;
                                border: 10px solid #333; background: #fff; display: none; z-index: 1000;}
#process_description        { border: 1px solid #ccc; height: 400px; overflow-x: hidden; overflow-y: scroll;}
.startbutton                { float: right; margin-right: 15px; margin-top: .8em; margin-bottom:1.8em;}
#arb_opt 					{border-spacing: 10px 0px;}
#arb_opt tr td img			{margin-left:auto; margin-right:auto;width:70%;}
#arb_opt tr td  			{ background:pink; padding:5px; width:350px; text-align:center;}